@{
    ViewData["Title"] = "Home Page";
}




<div class="jumbotron jumbotron-fluid mt-5">
    <div class="container text-center">

        <h1 class="display-4 ">Welcome To My Bike Shop!  </h1>
  
   
    <p class="lead">We got all you need!</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary" asp-action="List" asp-route-id=""
                                                        asp-controller="Product" asp-area="">View Products!</a>

            <a class="btn  btn-primary" asp-controller="Home" asp-action="About">Learn More About Us!</a>
        </p>
       
    </div>
</div>
 