@model Incident
@{
    ViewBag.Title = "Delete Incident";
}

<div class="jumbotron alert-danger mt-5">
    <h1>Confirm Deletion</h1>
    <p>Are you sure you want to delete "@Model.Title"?</p>

    <form asp-controller="Incident" asp-action="Delete" method="post">
        <input type="hidden" asp-for="IncidentID">

        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-controller="Incident" asp-action="List" class="btn btn-primary">Cancel</a>
    </form>
</div>