@{
    ViewBag.Title = "Tutorial Page 2";
}

<h2>Tutorial - Page 2</h2>

<p>Here's the first thing your need to know about my website.</p>

<a class="btn btn-dark" asp-controller="Tutorial" asp-action="Index" asp-route-id="Page1">Previous</a>
<a class="btn btn-dark ml-5" asp-controller="Tutorial" asp-action="Index" asp-route-id="Page3">Next</a>


