@{
    ViewBag.Title = "Tutorial Page 1";
}

<h2>Tutorial - Page 1</h2>

<p>Here's the first thing your need to know about my website.</p>
<a class="btn btn-dark" asp-controller="Tutorial" asp-action="Index" asp-route-id="Page2">Next</a>


