html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

h1 {
    margin-top: 1rem;
    font-size: 20pt;
}



html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 40px; /* Vertically center the text there */
}


.border-top {
    border-top: 1px solid #e5e5e5;
}