@model Customer

@{
    ViewBag.Title = ViewBag.Action + "Customer";
}

<h1>@ViewBag.Action Customer</h1>

@*Customer Add or Edit Form*@
<form method="post" asp-controller="Customer" asp-action="AddEdit">
    @*<div class="text-danger" asp-validation-summary="All"></div>*@

    <div class="row mt-3 form-group">
        <label class="col-sm-3" asp-for="FirstName">First Name</label>
        <div class="col">
            <input class="form-control" asp-for="FirstName"/>
            <span class="text-danger" asp-validation-for="FirstName"></span>
        </div>
    </div>

    <div class="row mt-3 form-group">
        <label class="col-sm-3" asp-for="LastName">Last Name</label>
        <div class="col">
            <input class="form-control" asp-for="LastName" />
            <span class="text-danger" asp-validation-for="LastName"></span>
        </div>
    </div>

    <div class="row mt-3 form-group">
        <label class="col-sm-3" asp-for="Address">Address</label>
        <div class="col">
            <input  class="form-control" asp-for="Address" />
            <span class="text-danger" asp-validation-for="Address"></span>
        </div>
    </div>

    <div class="row mt-3 form-group">
        <label class="col-sm-3" asp-for="City">City</label>
        <div class="col">
            <input class="form-control" asp-for="City" />
            <span class="text-danger" asp-validation-for="City"></span>
        </div>
    </div>

    <div class="row mt-3 form-group">
        <label class="col-sm-3" asp-for="State">State</label>
        <div class="col">
            <input class="form-control" asp-for="State" />
            <span class="text-danger" asp-validation-for="State"></span>
        </div>
    </div>

    <div class="row mt-3 form-group">
        <label class="col-sm-3" asp-for="PostalCode">Postal Code</label>
        <div class="col">
            <input class="form-control" asp-for="PostalCode" />
            <span class="text-danger" asp-validation-for="PostalCode"></span>
        </div>
    </div>

    
    <div class="row mt-3 form-group">
        <label class="col-sm-3" asp-for="CountryID">Country</label>
        <div class="col">
           <select  class="form-control" asp-for="CountryID"
                        asp-items="@(new SelectList(
                    ViewBag.Countries, "CountryID", "Name", Model ))">

                <option value="">Select A Country...</option>
            </select>
            <span class="text-danger" asp-validation-for="CountryID"></span>
        </div>
    </div>

               @* <option value="">Select A Country</option>
               @foreach(Country country in ViewBag.Countries)
                {
                    <option value="@country.CountryID">@country.Name</option>

                } *@
            

    <div class="row mt-3 form-group">
        <label class="col-sm-3" asp-for="Email">Email</label>
        <div class="col">
            <input class="form-control" asp-for="Email" />
        </div>
    </div>

    <div class="row mt-3 form-group">
        <label class="col-sm-3" asp-for="Phone">Phone</label>
        <div class="col">
            <input class="form-control" asp-for="Phone" />
        </div>
    </div>

    <input type="hidden" asp-for="CustomerID"/>

    <div class="mt-3">
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-primary" asp-controller="Customer" asp-action="List">Cancel</a>

    </div>
</form>