@{
    ViewData["title"] = "About -";
}

<h2 class="text-center text-dark">About Nohea's Apparel</h2>
<div class="mt-3 text-dark">
    <p>
        Welcome to Nohea's Apparel, where style meets sustainability. We're a clothing brand dedicated to creating comfortable, stylish pieces that not only make you feel confident but also help reduce the environmental impact of the fashion industry.
    </p>
    <p>
    Our story began with a passion for fashion and a desire to make a difference. We believe that fashion shouldn't have to come at the cost of our planet, which is why we use eco-friendly materials, sustainable production methods, and partner with suppliers who share our values.
    </p>
    <p>
    At Nohea's Apparel, we're committed to creating clothes that are not only beautiful but also ethical and sustainable. We believe that everyone deserves to feel confident and stylish, without compromising on their values. Join us in our mission to make fashion more sustainable, one outfit at a time.
    </p>
</div>