@{
   
}

<div class="text-center">
    <h1 class="display-4 text-primary">Welcome To Nohea's Apparel Shop</h1>
    <a class="btn bg-success text-light" asp-action="List" asp-area="" asp-controller="Product">View Products</a>
    <a class="btn bg-success text-light" asp-action="About" asp-area="" asp-controller="Home">About</a>
</div>

