@model DataAccessLibrary.Models.Product

@{
    ViewData["title"] = "Product Details - ";
}

<div>
    <div class="row">
        @* product image details page *@
        <div class="col-3">
            <img src="@(Model.ProductImageURL ?? "~/content/images/No_Image_Found.jpg")"
                alt="@Model.ProductName image" asp-append-version="true" class="w-75 h-75">
        </div>
        @*product text details*@
        <div class="col-8">
            <table class="table-striped table-bordered">
                <tr>
                    <th class="p-2">List Price:</th>
                    <td class="p-2">@Model.ProductPrice.ToString("c")</td>
                </tr>

             

                <tr>
                    <th class="p-2">Description:</th>
                    <td class="group-text w-100 p-2">@Model?.ProductDescription</td>
                </tr>

               
            </table>
            <a asp-controller="Product" asp-action="Cart" class=" mt-3 btn btn-primary"
               asp-route-id="@Model?.productID">Add To Cart</a>
        </div>
    </div>

</div>