@inject IGame  game;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container text-center">
        <header>
            <h1 class="bg-dark text-white p-4">Blackjack</h1>
        </header>

        <main role="main">
            @if (TempData.Keys.Contains("message"))
            {
                <h4 class="bg-@TempData["background"] text-white p-2">@TempData["message"]</h4>
            }
            @RenderBody()
        </main>

        <footer>
            <h4 class="bg-light p-4">Total Winnings: @game.Player.TotalWinnings</h4>
        </footer>
    </div>
</body>
</html>
